# Gradle files
.gradle/
build/

# OS-specific files
.DS_Store

# IDE-specific files (assuming you're using IntelliJ)
.idea/
*.iml
0
.DS_Store
.DS_Store
node_modules
.angular
buildOutputCleanup.lock
outputFiles.bin 
previous-compilation-data.bin