<div class="search-field">
  <input class="search-field-input" type="text" />

  <button class="icon-btn">
    <img class="search-icon" src="../../assets/search-svgrepo-com.svg" />
  </button>
</div>
<div class="hero-section">
  <img
    class="hero-img"
    src="https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?auto=format&fit=crop&q=80&w=2803&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
  />
  <h1 class="hero-h1">Discover top brands.</h1>
</div>
<div class="product-grid">
  <app-product
    *ngFor="let product of products"
    [product]="product">
  </app-product>
  