.search-field {
  height: 46px;
  width: 100%;
  margin-top: 30px;
  border: 0px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  background-color: rgb(240, 240, 240);
}

.search-field-input {
  padding-left: 10px;
  width: 100%;
  border: 0px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
}
.search-field-input:focus {
  outline-width: 0;
}
.search-icon {
  height: 24px;
  border: 0px;
}
.icon-btn {
  border: 0px;
  border-radius: 8px;
}
.hero-section {
  position: relative;
  height: 600px;
}

.hero-img {
  margin-top: 50px;
  width: 100%;
  max-height: 600px;
}
.hero-h1 {
    position: absolute;
    left: 50px;
    top: 200px;
  font-size: 60px;
  font-family: DM Sans;
  font-weight: 900;
}
.product-grid {
  display: grid;
}

.product-grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}
.product-card{
    width: 100%;
    padding:20px;

}

.product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product-img {
    width: 80%;
}

.product-price:after{
    content: '.00 лв.';
}
